#img-bg{
    background-image: url('https://i.pinimg.com/564x/da/c2/04/dac2044f1a327f48736c52a276422376.jpg');

    min-height: 695px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}